<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.utamas.appointments">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:required="false"/>
    <application
        android:name=".AppointmentApplication"
        android:allowBackup="true"
        android:icon="@mipmap/calendar"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/calendar"
        android:supportsRtl="true"
        android:theme="@style/Theme.Appointments">
        <activity android:name=".activity.EditAppointmentActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Appointments.NoActionBar"/>
        <activity android:name=".activity.ViewAppointmentActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Appointments.NoActionBar" />
        <activity android:name=".activity.ListAppointmentsActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Appointments.NoActionBar"
            />
        <activity android:name=".activity.RegisterActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Appointments.NoActionBar"/>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Appointments.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.utamas.cantwait.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>

</manifest>